<a href="https://colab.research.google.com/github/pedrofigueroaalbano/IS-4487/blob/main/Week13_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IS 4487 Module 5 Script

## Objectives

What do you need to know for this module's project?

1. Fit a tree model using all the available predictors. 
2. Create a confusion matrix  and identify numbers of TP, FP, TN and FN.
3. Estimate profit (benefits - costs) using a defined cost-benefit matrix and the above confusion matrix.
4. Estimate profit for a strategy that consists in calling everyone.
5. Estimate profit for a class decision threshold of .3 
6.  Use the model to predict on a new dataset (without the target), then use these predictions to identify those who should be called--a contact list.
7.  Make a recommendation to the Director of Sales based on your analytic work.

**NOTE:** For the module 5 project you will predict answering for prospective customers (who have not yet been called). Consequently, the assignment requires an additional dataset, customer_data.csv, that you will need to download and move into your project folder.  Here is code to load that data into memory after you have it saved in your project folder (your working directory). This code is included in the template script.

We will again use the MegaTelCo data for this demonstration.

##Load Libraries

In this class we will be using 
- Pandas
- Scikitlearn
- Matplotlib

In [1]:
import pandas as pd
import matplotlib as mpl
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier, export_graphviz # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics  #Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import confusion_matrix

## Getting data into Pandas

In this case we will load data from the statsmodels.org library

See the Canvas assignments and lectures for a description of the Megatelco data

**Note:** you will need to enter a code supplied by Google in the next step.

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [4]:
df = pd.read_csv (r'/content/gdrive/MyDrive/Colab Notebooks/retail_dataset.csv')

In [5]:
#look at the top rows
df.head(10)

,customer_id,customer_name,address_line_1,city,state_province,postal_code,order_id,order_date,customer_id.1,order_id.1,product_id,quantity,product_id.1,product_name,product_price,total_amount,order_year_month,order_month
0,67,Gordy Matteau,59 Northland Circle,Wilmington,DE,19805.0,1001,2020-01-11,67,1001,106,3.0,106,Great value Juice,$1.99,$5.97,2020-01,January
1,201,Cort Paskerful,769 Buell Drive,Huntsville,AL,35810.0,1002,2019-11-22,201,1002,104,2.0,104,Desk,$85.98,$171.96,2019-11,November
2,45,Willetta Lumley,41 Ridgeway Alley,Irvine,CA,92612.0,1003,2019-09-17,45,1003,107,5.0,107,Dove deodorant,$3.99,$19.95,2019-09,September
3,106,Alison Batterton,489 Erie Hill,Richmond,VA,23293.0,1004,2019-12-09,106,1004,106,8.0,106,Great value Juice,$1.99,$15.92,2019-12,December
4,357,Martelle Paxeford,451 Manitowish Place,Richmond,VA,23293.0,1005,2019-06-08,357,1005,107,7.0,107,Dove deodorant,$3.99,$27.93,2019-06,June
5,351,Glenn Reville,3 Springview Drive,Dallas,TX,75277.0,1006,2020-02-18,351,1006,106,4.0,106,Great value Juice,$1.99,$7.96,2020-02,February
6,233,Cosette Berkowitz,7619 Susan Lane,South Bend,IN,46634.0,1007,2019-10-25,233,1007,105,2.0,105,Office Chair,$55.99,$111.98,2019-10,October
7,121,Nisse Cunniam,0 Dennis Pass,Lincoln,NE,68531.0,1008,2019-11-10,121,1008,101,1.0,101,Dell E5470 Laptop,$485.00,$485.00,2019-11,November
8,232,Yank Eayrs,8176 Lawn Drive,Washington,DC,20575.0,1009,2019-09-27,232,1009,110,1.0,110,Apple iPad Mini,$329.99,$329.99,2019-09,September
9,113,Jamesy Brothwood,0693 Evergreen Pass,Scranton,PA,18514.0,1010,2019-09-02,113,1010,108,1.0,108,Printer,$59.99,$59.99,2019-09,September

In [6]:
#look at the datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9569 entries, 0 to 9568
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       9569 non-null   int64
 1   customer_name     9569 non-null   object
 2   address_line_1    9448 non-null   object
 3   city              9516 non-null   object
 4   state_province    9569 non-null   object
 5   postal_code       9416 non-null   float64
 6   order_id          9569 non-null   int64
 7   order_date        9312 non-null   object
 8   customer_id.1     9569 non-null   int64
 9   order_id.1        9569 non-null   int64
 10  product_id        9569 non-null   int64
 11  quantity          9513 non-null   float64
 12  product_id.1      9569 non-null   int64
 13  product_name      9569 non-null   object
 14  product_price     9569 non-null   object
 15  total_amount      9513 non-null   object
 16  order_year_month  9312 non-null   object
 17  order_month       9312 non-null   object
dtypes: float64(2), int64(6), object(10)
memory usage: 1.3+ MB

In [49]:
#describe the data before cleaning it
df.describe()

# drop nulls
df_clean = df.dropna()

# convert total amount to numeric
df_clean['total_amount'] = df_clean['total_amount'].str.replace("$","")
df_clean['total_amount'] = df_clean['total_amount'].str.replace(",","")
df_clean['total_amount'] = pd.to_numeric(df_clean["total_amount"])

<ipython-input-49-825d9805adb0>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_clean['total_amount'] = df_clean['total_amount'].str.replace("$","")
<ipython-input-49-825d9805adb0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['total_amount'] = df_clean['total_amount'].str.replace("$","")
<ipython-input-49-825d9805adb0>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['total_amount'] = df_clean['total_amount'].str.replace(",","")
<ipython-input-49-825d9805adb0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['total_amount'] = pd.to_numeric(df_clean["total_amount"])

In [57]:
import datetime as dt
df_clean['order_year_month'] = pd.to_datetime(df_clean['order_year_month'])
df_clean['order_year_month']=df_clean['order_year_month'].map(dt.datetime.toordinal)

<ipython-input-57-13d54e6b0232>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['order_year_month'] = pd.to_datetime(df_clean['order_year_month'])
<ipython-input-57-13d54e6b0232>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['order_year_month']=df_clean['order_year_month'].map(dt.datetime.toordinal)

In [ ]:
# Clean Quantity
df_clean['quantity'] = pd.to_numeric(df_clean["quantity"])

# create a linear regression to predict the TOTAL_AMOUNT variable.  
start with one independent variable, such as month of the year

In [59]:
import statsmodels.api as sm

x = df_clean["order_year_month"]
y = df_clean["total_amount"]

model = sm.OLS(x, y).fit()
predictions = model.predict(y) # make the predictions by the model

model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:       order_year_month   R-squared (uncentered):                   0.456
Model:                            OLS   Adj. R-squared (uncentered):              0.456
Method:                 Least Squares   F-statistic:                              7518.
Date:                Wed, 12 Apr 2023   Prob (F-statistic):                        0.00
Time:                        22:49:27   Log-Likelihood:                     -1.3113e+05
No. Observations:                8981   AIC:                                  2.623e+05
Df Residuals:                    8980   BIC:                                  2.623e+05
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
total_amount   952.6611     10.987     86.707      0.000     931.124     974.198
==============================================================================
Omnibus:                     1964.889   Durbin-Watson:                   0.858
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3841.706
Skew:                          -1.328   Prob(JB):                         0.00
Kurtosis:                       4.791   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""